/*aqua-green*/
/*mid-grey*/
.container {
  margin-left: .8em;
  margin-right: .8em; }

.card p, .blockquote, .form__input {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.form__label--hidden {
  visibility: hidden; }

.nav__item a {
  font-weight: 100;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  font-size: inherit;
  display: block;
  padding: 1em 0;
  text-decoration: none;
  color: #000; }
  .nav__item a:hover {
    background-color: #8DFBBC;
    color: #fb8dcc; }

.headline--primary {
  color: #57FAE1;
  font-weight: 700;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left;
  padding-left: 1em;
  padding-bottom: .75em;
  font-size: 2em;
  line-height: 1em;
  margin-top: 0; }

.headline--secondary {
  color: #a1a1a1;
  letter-spacing: 1px;
  font-weight: 100;
  font-size: 1em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: left; }

.btn--default, .btn--success, .btn--error, .btn--warning, .btn--info {
  height: 4em;
  border: none;
  color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 1em;
  margin-bottom: 1em; }

.nav__item a, .blockquote {
  border-radius: 5px; }

* {
  box-sizing: border-box; }

ul {
  text-decoration: none;
  list-style-type: none; }

/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in
 *    IE on Windows Phone and in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0px; }

/**
 * Add the correct display in IE 9-.
 */
article,
aside,
footer,
header,
nav,
section {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in IE.
 */
figcaption,
figure,
main {
  /* 1 */
  display: block; }

/**
 * Add the correct margin in IE 8.
 */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

ul {
  padding: 0; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * 1. Remove the bottom border in Chrome 57- and Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  /*font-size: 75;*/
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
audio,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: 'Merriweather', serif;
  /* 1 */
  /* 1 */
  /*line-height: 1.15; /* 1 */
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * 1. Add the correct display in IE 9-.
 * 2. Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 */
details,
menu {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Scripting
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 */
canvas {
  display: inline-block; }

/**
 * Add the correct display in IE.
 */
template {
  display: none; }

/* Hidden
   ========================================================================== */
/**
 * Add the correct display in IE 10-.
 */
[hidden] {
  display: none; }

.grid__col--3 {
  display: flex;
  flex-direction: column; }
  .grid__col--3 a {
    display: flex;
    flex-direction: column;
    align-self: center; }

.nav {
  float: none;
  margin: 0 auto;
  width: 75%;
  display: flex;
  flex-direction: column; }
  @media (min-width: 769px) {
    .nav {
      padding-left: 1em;
      padding-right: 1em;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between; } }
  .nav__item {
    align-self: center; }
    .nav__item a:hover {
      width: 90vw; }
    @media (min-width: 769px) {
      .nav__item a {
        padding-left: 1em;
        padding-right: 1em; }
        .nav__item a:hover {
          width: auto;
          padding-left: 2em;
          padding-right: 2em; } }

.card p {
  word-spacing: 1px;
  text-align: left; }

.headline--secondary {
  padding-top: 1em;
  padding-bottom: 0em; }

.link {
  text-decoration: none;
  list-style-type: none;
  color: #6BDCFA;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.blockquote {
  border-left: 0.5em solid #57FAE1;
  padding-left: 1em;
  font-weight: 100;
  font-style: italic;
  text-align: left;
  font-size: 1.5rem; }

.form__label--hidden {
  display: flex;
  flex-direction: column;
  line-height: 24px;
  margin-top: 2em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-decoration: none;
  text-align: left; }
.form__input {
  background-color: #fff;
  border-top: none;
  border-right: none;
  border-left: none;
  width: 100%;
  height: 2rem;
  font-weight: 700;
  font-size: 1em;
  border-bottom: 5px solid #57FAE1; }
  .form__input:focus, .form__input:active {
    outline-color: #fa5770;
    font-weight: 700;
    padding-left: 2em;
    background-color: #F2F65A; }

form button.btn--default.theme__colors {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px; }

.img--logo {
  margin-bottom: .2em;
  display: flex; }
.img--frame {
  float: none;
  margin: 0 auto;
  width: 95%;
  padding: .75em;
  border: 1px solid #c1c1c1;
  margin-bottom: 1em; }
.img--avatar {
  max-width: 200px;
  width: 50%;
  margin-bottom: 5em;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px; }

.grid__col--1 {
  width: 100%;
  text-align: center; }
  @media (min-width: 769px) {
    .grid__col--1 {
      padding-left: 1em;
      padding-right: 1em;
      width: 6.5%;
      text-align: center;
      margin: auto; } }

.grid__col--2 {
  width: 100%;
  text-align: center; }
  @media (min-width: 769px) {
    .grid__col--2 {
      padding-left: 1em;
      padding-right: 1em;
      width: 15%;
      text-align: center;
      margin: auto; } }

.grid__col--3 {
  width: 100%;
  text-align: center; }
  @media (min-width: 769px) {
    .grid__col--3 {
      padding-left: 1em;
      padding-right: 1em;
      width: 23.5%;
      text-align: center;
      margin: auto; } }

.grid__col--4 {
  width: 100%;
  text-align: center; }
  @media (min-width: 769px) {
    .grid__col--4 {
      padding-left: 1em;
      padding-right: 1em;
      width: 32%;
      text-align: center;
      margin: auto; } }

.grid__col--5 {
  width: 100%;
  text-align: center; }
  @media (min-width: 769px) {
    .grid__col--5 {
      padding-left: 1em;
      padding-right: 1em;
      width: 40.5%;
      text-align: center;
      margin: auto; } }

.grid__col--6 {
  width: 100%;
  text-align: center; }
  @media (min-width: 769px) {
    .grid__col--6 {
      padding-left: 1em;
      padding-right: 1em;
      width: 49%;
      text-align: center;
      margin: auto; } }

.grid__col--7 {
  width: 100%;
  text-align: center; }
  @media (min-width: 769px) {
    .grid__col--7 {
      padding-left: 1em;
      padding-right: 1em;
      width: 57.5%;
      text-align: center;
      margin: auto; } }

.grid__col--8 {
  width: 100%;
  text-align: center; }
  @media (min-width: 769px) {
    .grid__col--8 {
      padding-left: 1em;
      padding-right: 1em;
      width: 66%;
      text-align: center;
      margin: auto; } }

.grid__col--9 {
  width: 100%;
  text-align: center; }
  @media (min-width: 769px) {
    .grid__col--9 {
      padding-left: 1em;
      padding-right: 1em;
      width: 74.5%;
      text-align: center;
      margin: auto; } }

.grid__col--10 {
  width: 100%;
  text-align: center; }
  @media (min-width: 769px) {
    .grid__col--10 {
      padding-left: 1em;
      padding-right: 1em;
      width: 83%;
      text-align: center;
      margin: auto; } }

.grid__col--11 {
  width: 100%;
  text-align: center; }
  @media (min-width: 769px) {
    .grid__col--11 {
      padding-left: 1em;
      padding-right: 1em;
      width: 91.5%;
      text-align: center;
      margin: auto; } }

.grid__col--12 {
  width: 100%;
  text-align: center; }
  @media (min-width: 769px) {
    .grid__col--12 {
      padding-left: 1em;
      padding-right: 1em;
      width: 100%;
      text-align: center;
      margin: auto; } }

.grid__row {
  margin-bottom: 3em; }
  @media (min-width: 769px) {
    .grid__row {
      padding-left: 1em;
      padding-right: 1em;
      display: flex;
      flex-direction: row;
      margin-top: 1em;
      width: 100%;
      justify-content: space-between; } }

.theme__colors.grid__col--12 {
  background-color: #2EF9FA;
  height: 3em;
  padding-top: 1em;
  border-radius: .4em;
  margin-bottom: .5em;
  text-align: center; }

.theme__colors.grid__col--6 {
  background-color: #017B8D;
  height: 3em;
  padding-top: 1em;
  border-radius: .4em;
  margin-bottom: .5em;
  text-align: center; }

.theme__colors.grid__col--4 {
  background-color: #6BDCFA;
  height: 3em;
  padding-top: 1em;
  border-radius: .4em;
  margin-bottom: .5em;
  text-align: center; }

.theme__colors.grid__col--3 {
  background-color: #EA9FF9;
  height: 3em;
  padding-top: 1em;
  border-radius: .4em;
  margin-bottom: .5em;
  text-align: center; }

.theme__colors.grid__col--5 {
  background-color: #57B71F;
  height: 3em;
  padding-top: 1em;
  border-radius: .4em;
  margin-bottom: .5em;
  text-align: center; }

.theme__colors.grid__col--7 {
  background-color: #DE887D;
  height: 3em;
  padding-top: 1em;
  border-radius: .4em;
  margin-bottom: .5em;
  text-align: center; }

.theme__colors.grid__col--8 {
  background-color: #E86C30;
  height: 3em;
  padding-top: 1em;
  border-radius: .4em;
  margin-bottom: .5em;
  text-align: center; }

.btn--default {
  background-color: #25E3F8; }
  @media (min-width: 769px) {
    .btn--default {
      padding-left: 1em;
      padding-right: 1em; } }
.btn--success {
  background-color: #5CDB33; }
.btn--error {
  background-color: #B11906; }
.btn--warning {
  background-color: #FD680D; }
.btn--info {
  background-color: #7C17AB; }

form button.btn--default.theme__colors {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px; }

@media (min-width: 400px) {
  .theme__colors.btn--default {
    width: 100%; } }
  @media (min-width: 400px) and (min-width: 769px) {
    .theme__colors.btn--default {
      padding-left: 1em;
      padding-right: 1em;
      width: 15%;
      margin-left: 1rem;
      margin-right: 1rem; } }

@media (min-width: 400px) {
  .theme__colors.btn--success {
    width: 100%; } }
  @media (min-width: 400px) and (min-width: 769px) {
    .theme__colors.btn--success {
      padding-left: 1em;
      padding-right: 1em;
      width: 15%;
      margin-left: 1rem;
      margin-right: 1rem; } }

@media (min-width: 400px) {
  .theme__colors.btn--error {
    width: 100%; } }
  @media (min-width: 400px) and (min-width: 769px) {
    .theme__colors.btn--error {
      padding-left: 1em;
      padding-right: 1em;
      width: 15%;
      margin-left: 1rem;
      margin-right: 1rem; } }

@media (min-width: 400px) {
  .theme__colors.btn--warning {
    width: 100%; } }
  @media (min-width: 400px) and (min-width: 769px) {
    .theme__colors.btn--warning {
      padding-left: 1em;
      padding-right: 1em;
      width: 15%;
      margin-left: 1rem;
      margin-right: 1rem; } }

@media (min-width: 400px) {
  .theme__colors.btn--info {
    width: 100%; } }
  @media (min-width: 400px) and (min-width: 769px) {
    .theme__colors.btn--info {
      padding-left: 1em;
      padding-right: 1em;
      width: 15%;
      margin-left: 1rem;
      margin-right: 1rem; } }

@media (min-width: 769px) {
  .container {
    padding-left: 1em;
    padding-right: 1em;
    float: none;
    margin: 0 auto;
    max-width: 1000px; } }

/*# sourceMappingURL=styles.css.map */
