
.btn {
  &--default {
    @extend %btn;
    @include mq(large){
    }
    background-color: $bright-turquoise;
}
  &--success {
    @extend %btn;
    background-color: $atlantis;
  }
  &--error {
    @extend %btn;
    background-color: $milano-red;
  }
  &--warning {
    @extend %btn;
    background-color: $blaze-orange;
  }
  &--info {
    @extend %btn;
    background-color: $seance;
  }
}


//Button width modifier
@include btn(default);
@include btn(success);
@include btn(error);
@include btn(warning);
@include btn(info);
