
.form {
  @include e(label) {
    @include m(hidden){
      @extend %srt;
    @include flexy(flex, column);
      line-height: 24px;
      margin-top: 2em;
      font-family: $helvetica-font-stack;
      font-weight: $font-weight--bold;
      text-decoration: none;
      text-align: left;
 }
}
  @include e(input) {
    @extend %main-font;
    background-color: $white;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
    height: 2rem;
    font-weight: $font-weight--bold;
    font-size: 1em;
    border-bottom: 5px solid $aquamarine;
    &:focus,
    &:active {
      outline-color: complement($aquamarine);
      font-weight: $font-weight--bold;
      padding-left: 2em;
      background-color: $canary;
    }

  }
}
//======= Form button isolated to keep width of 100%=======
form button.btn--default.theme__colors {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
//=========================================================
