
.form {
  @include e(label) {
    @include m(hidden){
      @extend %srt;
    @include flexy(flex, column);
      line-height: 24px;
      margin-top: 2em;
      font-family: $helvetica-font-stack;
      font-weight: $font-weight--bold;
      text-decoration: none;
      text-align: left;
 }
}
  @include e(input) {
    background-color: $white;
    border-bottom: 2px solid $aquamarine;
    width: 100%;
    height: 2rem;
    border: none;
    font-size: 1em;
    &:focus,
    &:active {
      outline-color: complement($aquamarine);
      font-weight: $font-weight--bold;
      padding-left: 2em;
    }
  }
}

//======= Form button isolated to keep width of 100%=======
form button.btn--default.theme__colors {
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}
//=========================================================

input::placeholder {
  font-size: 1em;
  font-weight: bold;
  font-family: $helvetica-font-stack;
  padding-left: .5em;

}
