
////=======Equation for giving grids equal space in gutters (margins)=========
//Calculate for Grid Columns
//===============================================================--

@for $i from 1 through $g-col-count {

  $context: g-context($g-col-width, $g-col-count, $g-gutter-width);
  $target: ($g-col-width * $i) + ($g-gutter-width * ($i - 1));

  //Generate these classes

  .grid__col--#{$i} {
    width: 100%;
    text-align: center;
    @include mq(large){
      width: percentage($target / $context);
      text-align: center;
      margin: auto;
  }
 }
}

.grid__row {
  margin-bottom: 3em;
  @include mq(large){
    @include flexy(flex, row);
    margin-top: 1em;
    width: 100%;
    justify-content: space-between;
  }
}

//Colors for each grid

@include grid(12,$cyan);

@include grid(6,$blue-lagoon);

@include grid(4, $malibu);

@include grid(3, $muave);

@include grid(5, $lima);

@include grid(7, $burning-sand);

@include grid(8, $tango);
