
.img {

  @include m(logo) {
    @include flexy;
}
  @include m(frame) {
    width: 100%;
    padding: .75em;
    border: 1px solid $light-grey;
    margin-bottom: 1em;
    margin-left: 1em;
  }

  @include m(avatar) {
      width: 50%;
      margin-bottom: 5em;
      @include flexy(flex, column);
      margin: 0 auto;
      padding: 10px;

  }

}
