
.card {
  p {
  @extend %main-font;
  word-spacing: $letter-space;
  text-align: left;
}
}
.headline--primary {
  @extend %hdln-prim;
}

.headline--secondary {
  @extend %hdln-sec;
  @include padding-vert(1em, 0em);
}

.link {
  @include link-reset($malibu, $helvetica-font-stack);
}

.blockquote {
  border-left: .5em solid $aquamarine;
  @extend %brdr-radius;
  @extend %main-font;
  padding-left: 1em;
  font-weight: $font-weight--thin;
  font-style: italic;
  text-align: left;
  font-size: 1.5rem;
}
